
.nav{
    background-color: #4b7bec;
    padding: 2px;
    margin: 15px;
    margin-top: 1.5em;
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
    color: white;
    margin-right: 18pt;
    margin-left: 18pt;
    padding: 10px;
    border-radius: 4px;
    font-weight: bolder;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a:hover{
    color:#4b7bec;
    background-color: white;
}