body{
    background-color: #dffe;
}
h1{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

form{
    width:20em;
    background-color: white;
    border: 2px solid #145932 ;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 3px 15px 15px;
    border-radius: 8px;
}

label{
   font-weight: 800;

}

input{
    width: 23em;
    margin-bottom: 10px;
}

button{
    color: white;
    background-color: #27ae60;
    border: 1px solid black;
    border-radius: 3px;
    width: 23em;
    cursor: pointer;
    padding: 5px 0 5px 0;
}

button:hover{
    background-color: #145932;
}

