body{
    background-color: #f7f1ea;
}
h1{
    text-align: center;
    color: #c0392b;
    font-family:'Trebuchet MS';
}

.box{
    text-align: center;
    width:20%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #e98479;
    border-radius: 6px;
    padding: 1em;
    background-color: white;
    box-shadow: 4px 10px 10px #888;
    font-size: 20px;
    font-weight: 500;    
}

